main {
    width: 550px;
    display: flex;
    flex-direction: column;
}

#add-form {
    display: flex;
    margin-bottom: 20px;
}

#add-btn {
    margin-left: auto;
}

.input-group {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
}

.input-group:hover {
    background-color: lightblue;
}

.title {
    font-weight: bold;
    margin-right: 15px;
}

.copy-text {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.delete-btn {
    margin-left: auto;
}

.confirmation-text {
    font-size: .85rem;
    color: rgb(30, 30, 194);
    margin-left: 10px;
}